<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Activation - Chess Stake</title>
    <link rel="stylesheet" href="../Static/ActivaciondeCuenta_style.css">
</head>
<body>
    <main class="activation-container">
        <h1>Account Activation</h1>
        <p>To activate your account, please Yape or Plin 4 soles to the number <strong>906 102 713</strong> and send the screenshot to the number <strong><a href="https://wa.me/51988575588" target="_blank">+51 988 575 588</a></strong> via WhatsApp.</p>
        <p>After sending the screenshot, your account will be activated. Click on 'Login' to start playing.</p>
        <div class="button-container">
            <a href="../Templates/Login.html" class="btn btn-primary">Login</a>
        </div>
    </main>
</body>
</html>